@charset "UTF-8";
.rowstyle{
	background-color:#a2b3c4;
	display: inline-block;
	padding:2px 5px;
	width:100px;
	height:25px;
	font-size:15px;
}
.rowstyle2{
	background-color:#a2b3c4;
	display: inline-block;
	padding:2px 5px;
	width:100px;
	height:25px;
	font-size:15px;
	margin-left:8px;
}